.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project

.cache
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.cache/

# Ekran görüntülerini içeren klasörü yok say
Screenshots/
